<div class="general-white-front top-flat">
    <div class="account-wrapper">
      <div class="account-content">
        <h1 class="black-text no-margin-b">Welcome{%if customer.name%}, <span class="bright-blue-text">{{customer.name}}!</span>{%endif%}</h1>
        <div data-current="Tab 1" data-easing="ease" data-duration-in="300" data-duration-out="100" class="account-tabs w-tabs">
          <div class="account-tabs-menu w-tab-menu">
            <a data-w-tab="Tab 1" class="account-tab-link w-inline-block w-tab-link w--current">
              <div>Account Summary</div>
            </a>
            <a href="/account/login?recover" class="account-tab-link w-inline-block alt">
              <div>Change Password</div>
            </a>
            <a href="account/logout" class="account-tab-link w-inline-block alt">
              <div>Sign Out</div>
            </a>
          </div>
          <div class="w-tab-content">
            <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">

              
              {% if customer.orders.size != 0 %} 
              <div class="account-tab-inner">
                <div class="account-flex-header">
                  <div class="account-icon-wrapper"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/order.svg" alt="" class="absolute-img"></div>
                  <h2 class="black-text smaller-h2 no-margin-b">your orders</h2>
                  <p class="bright-blue-text no-margin-b margin-l">View all orders</p>
                </div>
                <div class="order-wrapper">
                  <div class="order-menu-wrapper">
                    <div id="w-node-ae5cdc87-5ae1-101a-816c-a1d9bfdf703d-1c43bf66" class="order-col-heading-wrapper">
                      <p class="black-text align-center no-margin-b">Order Date</p>
                    </div>
                    <div id="w-node-a4c99f7f-55c5-6558-f371-86ec4b92af7e-1c43bf66" class="order-col-heading-wrapper hide-mob">
                      <p class="black-text align-center no-margin-b">Items</p>
                    </div>
                    <div id="w-node-be7dcffd-4d4a-0119-3d62-4a8479be1b42-1c43bf66" class="order-col-heading-wrapper">
                      <p class="black-text align-center no-margin-b">Status</p>
                    </div>
                    <div id="w-node-_188303af-f437-ccf7-e435-8a6569c5c615-1c43bf66" class="order-col-heading-wrapper">
                      <p class="black-text align-center no-margin-b">Price</p>
                    </div>
                    <div id="w-node-_18760edb-1da1-b515-fc65-588c7dfaeab9-1c43bf66" class="order-col-heading-wrapper">
                      <p class="black-text align-center no-margin-b">Order Number</p>
                    </div>
                </div>
                <div id="w-node-a48885ab-0162-75a3-f2e3-b1b92e6c66fb-1c43bf66" class="line grey"></div>
                {%endif%}

                  {% for order in customer.orders %}
            
                  {% assign reorder_url = "" %}
                      {% for line_item in order.line_items %}
                        {% capture reorder_url %}{{ reorder_url | append: line_item.variant_id | append: ':' | append: line_item.quantity | append: ',' }}{% endcapture %}
                    {% endfor %}
            
                    <div class="jc-account-order-flex-row">

                        <div class="jc-account-order-flex-col">
                          <div class="black-text no-margin-b center">{{ order.created_at | date: format: 'date' }}</div>
                        </div>

                        <div class="jc-account-order-flex-col">
                          <div class="black-text no-margin-b center">{{ order.line_items }}</div>
                        </div>

                        <div class="jc-account-order-flex-col">
                          <div class="black-text no-margin-b center">{{ order.fulfillment_status }}</div>
                        </div>
                        
                        
                        <div class="jc-account-order-flex-col">
                          <div class="black-text no-margin-b center">{{ order.total_price | money }}</div>
                        </div>
                        
                        <div class="jc-account-order-flex-col">
                            <div class="black-text no-margin-b center">
                              <a href="{{order.customer_url}}" class="jc-account-order-flex-col-text-link">{{ order.name }}</a>
                            </div>
                        </div>

                    </div>
            
                  {% endfor %} 
                  
                </div>
              </div>
              <div class="flex-account-wrapper">
                <div class="account-tab-inner flex">
                  <div class="account-flex-header flex">
                    <div class="account-icon-wrapper"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/account.svg" alt="" class="absolute-img"></div>
                    <h2 class="black-text smaller-h2 no-margin-b">YOUR ACCOUNT DETAILS</h2>
                    
                  </div>
                  <div class="account-detail-wrapper">
                    <div id="w-node-_471f2232-d703-ae01-dbc6-43f9f3272d6b-1c43bf66" class="flex-account">
                      <div id="w-node-_33f845e2-6590-e466-ca23-4068bd1bad41-1c43bf66" class="account-heading-wrapper">
                        <p class="black-text no-margin-b bold left-mob">Email Address</p>
                        <p class="black-text">{{customer.email}}</p>
                      </div>
                      <div class="arrow-rightward"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/arrow-right-b.svg" alt="" class="image"></div>
                    </div>
                    <div id="w-node-bdcea702-103f-11a1-d85e-ebb162d6dccf-1c43bf66" class="line grey alt"></div>
                    <div id="w-node-_5080c93e-b110-9cf3-9515-50e9d49d368f-1c43bf66" class="flex-account">
                      <div id="w-node-_5080c93e-b110-9cf3-9515-50e9d49d3690-1c43bf66" class="account-heading-wrapper">
                        <p class="black-text no-margin-b bold">Password</p>
                        <p class="black-text">••••••••••</p>
                      </div>
                      <div class="arrow-rightward"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/arrow-right-b.svg" alt="" class="image"></div>
                    </div>
                  </div>
                </div>
                <div class="account-tab-inner flex">
                  <div class="account-flex-header flex">
                    <div class="account-icon-wrapper"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/location.svg" alt="" class="absolute-img"></div>
                    <h2 class="black-text smaller-h2 no-margin-b">your shipping address</h2>
                  </div>
                  <div class="account-detail-wrapper">
                    <div id="w-node-_33b4af2a-fb1e-9714-7f68-0fabbfc7f537-1c43bf66" class="flex-account">
                      <div id="w-node-_33b4af2a-fb1e-9714-7f68-0fabbfc7f538-1c43bf66" class="account-heading-wrapper">
                        {% for address in customer.addresses %}
                            <p class="black-text no-margin-b left-mob">{{ address | format_address }}</p>
                        {% endfor %}

                      </div>
                      <div class="arrow-rightward"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/arrow-right-b.svg" alt="" class="image"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div data-w-tab="Tab 2" class="w-tab-pane">
              <div class="account-tab-inner">
                <div class="account-flex-header">
                  <div class="account-icon-wrapper"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/order.svg" alt="" class="absolute-img"></div>
                  <h2 class="black-text smaller-h2 no-margin-b">your wishlist</h2>
                </div>
                <div class="order-wrapper">
                  <div id="w-node-_733cb357-1088-7004-2177-6a3cccd624de-1c43bf66" class="order-col-heading-wrapper">
                    <p class="black-text align-center no-margin-b">Order Date</p>
                  </div>
                  <div id="w-node-_733cb357-1088-7004-2177-6a3cccd624e1-1c43bf66" class="order-col-heading-wrapper">
                    <p class="black-text align-center no-margin-b">Items</p>
                  </div>
                  <div id="w-node-_733cb357-1088-7004-2177-6a3cccd624e4-1c43bf66" class="order-col-heading-wrapper">
                    <p class="black-text align-center no-margin-b">Status</p>
                  </div>
                  <div id="w-node-_733cb357-1088-7004-2177-6a3cccd624e7-1c43bf66" class="order-col-heading-wrapper">
                    <p class="black-text align-center no-margin-b">Price</p>
                  </div>
                  <div id="w-node-_733cb357-1088-7004-2177-6a3cccd624ea-1c43bf66" class="order-col-heading-wrapper">
                    <p class="black-text align-center no-margin-b">Order Number</p>
                  </div>
                  <div id="w-node-_733cb357-1088-7004-2177-6a3cccd624ed-1c43bf66" class="line grey"></div>
                  <div id="w-node-_733cb357-1088-7004-2177-6a3cccd624ee-1c43bf66" class="date-wrapper-orders">
                    <p class="black-text no-margin-b">01/01/2022</p>
                  </div>
                  <div id="w-node-_733cb357-1088-7004-2177-6a3cccd624f1-1c43bf66" class="item-wrapper-orders">
                    <p class="black-text no-margin-b">Large Bag Snack Box</p>
                    <p class="black-text no-margin-b">x1</p>
                  </div>
                  <div id="w-node-_733cb357-1088-7004-2177-6a3cccd624f6-1c43bf66" class="status-wrapper-orders">
                    <p class="black-text no-margin-b">Shipped</p>
                  </div>
                  <div id="w-node-_733cb357-1088-7004-2177-6a3cccd624f9-1c43bf66" class="price-wrapper-orders">
                    <p class="black-text no-margin-b">$15.00</p>
                  </div>
                  <div id="w-node-_733cb357-1088-7004-2177-6a3cccd624fc-1c43bf66" class="number-wrapper-orders">
                    <p class="black-text no-margin-b">
                      <a href="#" class="bright-blue-black-link">bcc117f</a>
                    </p>
                  </div>
                  <div id="w-node-_733cb357-1088-7004-2177-6a3cccd62500-1c43bf66" class="date-wrapper-orders">
                    <p class="black-text no-margin-b">01/01/2022</p>
                  </div>
                  <div id="w-node-_733cb357-1088-7004-2177-6a3cccd62503-1c43bf66" class="item-wrapper-orders">
                    <p class="black-text no-margin-b">Large Bag Snack Box</p>
                    <p class="black-text no-margin-b">x1</p>
                  </div>
                  <div id="w-node-_733cb357-1088-7004-2177-6a3cccd62508-1c43bf66" class="status-wrapper-orders">
                    <p class="black-text no-margin-b">Shipped</p>
                  </div>
                  <div id="w-node-_733cb357-1088-7004-2177-6a3cccd6250b-1c43bf66" class="price-wrapper-orders">
                    <p class="black-text no-margin-b">$15.00</p>
                  </div>
                  <div id="w-node-_733cb357-1088-7004-2177-6a3cccd6250e-1c43bf66" class="number-wrapper-orders">
                    <p class="black-text no-margin-b">
                      <a href="#" class="bright-blue-black-link">bcc117f</a>
                    </p>
                  </div>
                  <div id="w-node-_733cb357-1088-7004-2177-6a3cccd62512-1c43bf66" class="date-wrapper-orders">
                    <p class="black-text no-margin-b">01/01/2022</p>
                  </div>
                  <div id="w-node-_733cb357-1088-7004-2177-6a3cccd62515-1c43bf66" class="item-wrapper-orders">
                    <p class="black-text no-margin-b">Large Bag Snack Box</p>
                    <p class="black-text no-margin-b">x1</p>
                  </div>
                  <div id="w-node-_733cb357-1088-7004-2177-6a3cccd6251a-1c43bf66" class="status-wrapper-orders">
                    <p class="black-text no-margin-b">Shipped</p>
                  </div>
                  <div id="w-node-_733cb357-1088-7004-2177-6a3cccd6251d-1c43bf66" class="price-wrapper-orders">
                    <p class="black-text no-margin-b">$15.00</p>
                  </div>
                  <div id="w-node-_733cb357-1088-7004-2177-6a3cccd62520-1c43bf66" class="number-wrapper-orders">
                    <p class="black-text no-margin-b">
                      <a href="#" class="bright-blue-black-link">bcc117f</a>
                    </p>
                  </div>
                  <div id="w-node-_733cb357-1088-7004-2177-6a3cccd62524-1c43bf66" class="date-wrapper-orders">
                    <p class="black-text no-margin-b">01/01/2022</p>
                  </div>
                  <div id="w-node-_733cb357-1088-7004-2177-6a3cccd62527-1c43bf66" class="item-wrapper-orders">
                    <p class="black-text no-margin-b">Large Bag Snack Box</p>
                    <p class="black-text no-margin-b">x1</p>
                  </div>
                  <div id="w-node-_733cb357-1088-7004-2177-6a3cccd6252c-1c43bf66" class="status-wrapper-orders">
                    <p class="black-text no-margin-b">Shipped</p>
                  </div>
                  <div id="w-node-_733cb357-1088-7004-2177-6a3cccd6252f-1c43bf66" class="price-wrapper-orders">
                    <p class="black-text no-margin-b">$15.00</p>
                  </div>
                  <div id="w-node-_733cb357-1088-7004-2177-6a3cccd62532-1c43bf66" class="number-wrapper-orders">
                    <p class="black-text no-margin-b">
                      <a href="#" class="bright-blue-black-link">bcc117f</a>
                    </p>
                  </div>
                  <div id="w-node-_733cb357-1088-7004-2177-6a3cccd62536-1c43bf66" class="date-wrapper-orders">
                    <p class="black-text no-margin-b">01/01/2022</p>
                  </div>
                  <div id="w-node-_733cb357-1088-7004-2177-6a3cccd62539-1c43bf66" class="item-wrapper-orders">
                    <p class="black-text no-margin-b">Large Bag Snack Box</p>
                    <p class="black-text no-margin-b">x1</p>
                  </div>
                  <div id="w-node-_733cb357-1088-7004-2177-6a3cccd6253e-1c43bf66" class="status-wrapper-orders">
                    <p class="black-text no-margin-b">Shipped</p>
                  </div>
                  <div id="w-node-_733cb357-1088-7004-2177-6a3cccd62541-1c43bf66" class="price-wrapper-orders">
                    <p class="black-text no-margin-b">$15.00</p>
                  </div>
                  <div id="w-node-_733cb357-1088-7004-2177-6a3cccd62544-1c43bf66" class="number-wrapper-orders">
                    <p class="black-text no-margin-b">
                      <a href="#" class="bright-blue-black-link">bcc117f</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div data-w-tab="Tab 3" class="w-tab-pane">
              <div class="account-tab-inner">
                <div class="account-flex-header">
                  <div class="account-icon-wrapper"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/order.svg" alt="" class="absolute-img"></div>
                  <h2 class="black-text smaller-h2 no-margin-b">all orders</h2>
                </div>
                <div class="order-wrapper">
                  <div id="w-node-edffe75a-99d8-3015-9896-0357abbc916b-1c43bf66" class="order-col-heading-wrapper">
                    <p class="black-text align-center no-margin-b">Order Date</p>
                  </div>
                  <div id="w-node-edffe75a-99d8-3015-9896-0357abbc916e-1c43bf66" class="order-col-heading-wrapper">
                    <p class="black-text align-center no-margin-b">Items</p>
                  </div>
                  <div id="w-node-edffe75a-99d8-3015-9896-0357abbc9171-1c43bf66" class="order-col-heading-wrapper">
                    <p class="black-text align-center no-margin-b">Status</p>
                  </div>
                  <div id="w-node-edffe75a-99d8-3015-9896-0357abbc9174-1c43bf66" class="order-col-heading-wrapper">
                    <p class="black-text align-center no-margin-b">Price</p>
                  </div>
                  <div id="w-node-edffe75a-99d8-3015-9896-0357abbc9177-1c43bf66" class="order-col-heading-wrapper">
                    <p class="black-text align-center no-margin-b">Order Number</p>
                  </div>
                  <div id="w-node-edffe75a-99d8-3015-9896-0357abbc917a-1c43bf66" class="line grey"></div>
                  <div id="w-node-edffe75a-99d8-3015-9896-0357abbc917b-1c43bf66" class="date-wrapper-orders">
                    <p class="black-text no-margin-b">01/01/2022</p>
                  </div>
                  <div id="w-node-edffe75a-99d8-3015-9896-0357abbc917e-1c43bf66" class="item-wrapper-orders">
                    <p class="black-text no-margin-b">Large Bag Snack Box</p>
                    <p class="black-text no-margin-b">x1</p>
                  </div>
                  <div id="w-node-edffe75a-99d8-3015-9896-0357abbc9183-1c43bf66" class="status-wrapper-orders">
                    <p class="black-text no-margin-b">Shipped</p>
                  </div>
                  <div id="w-node-edffe75a-99d8-3015-9896-0357abbc9186-1c43bf66" class="price-wrapper-orders">
                    <p class="black-text no-margin-b">$15.00</p>
                  </div>
                  <div id="w-node-edffe75a-99d8-3015-9896-0357abbc9189-1c43bf66" class="number-wrapper-orders">
                    <p class="black-text no-margin-b">
                      <a href="#" class="bright-blue-black-link">bcc117f</a>
                    </p>
                  </div>
                  <div id="w-node-edffe75a-99d8-3015-9896-0357abbc918d-1c43bf66" class="date-wrapper-orders">
                    <p class="black-text no-margin-b">01/01/2022</p>
                  </div>
                  <div id="w-node-edffe75a-99d8-3015-9896-0357abbc9190-1c43bf66" class="item-wrapper-orders">
                    <p class="black-text no-margin-b">Large Bag Snack Box</p>
                    <p class="black-text no-margin-b">x1</p>
                  </div>
                  <div id="w-node-edffe75a-99d8-3015-9896-0357abbc9195-1c43bf66" class="status-wrapper-orders">
                    <p class="black-text no-margin-b">Shipped</p>
                  </div>
                  <div id="w-node-edffe75a-99d8-3015-9896-0357abbc9198-1c43bf66" class="price-wrapper-orders">
                    <p class="black-text no-margin-b">$15.00</p>
                  </div>
                  <div id="w-node-edffe75a-99d8-3015-9896-0357abbc919b-1c43bf66" class="number-wrapper-orders">
                    <p class="black-text no-margin-b">
                      <a href="#" class="bright-blue-black-link">bcc117f</a>
                    </p>
                  </div>
                  <div id="w-node-edffe75a-99d8-3015-9896-0357abbc919f-1c43bf66" class="date-wrapper-orders">
                    <p class="black-text no-margin-b">01/01/2022</p>
                  </div>
                  <div id="w-node-edffe75a-99d8-3015-9896-0357abbc91a2-1c43bf66" class="item-wrapper-orders">
                    <p class="black-text no-margin-b">Large Bag Snack Box</p>
                    <p class="black-text no-margin-b">x1</p>
                  </div>
                  <div id="w-node-edffe75a-99d8-3015-9896-0357abbc91a7-1c43bf66" class="status-wrapper-orders">
                    <p class="black-text no-margin-b">Shipped</p>
                  </div>
                  <div id="w-node-edffe75a-99d8-3015-9896-0357abbc91aa-1c43bf66" class="price-wrapper-orders">
                    <p class="black-text no-margin-b">$15.00</p>
                  </div>
                  <div id="w-node-edffe75a-99d8-3015-9896-0357abbc91ad-1c43bf66" class="number-wrapper-orders">
                    <p class="black-text no-margin-b">
                      <a href="#" class="bright-blue-black-link">bcc117f</a>
                    </p>
                  </div>
                  <div id="w-node-edffe75a-99d8-3015-9896-0357abbc91b1-1c43bf66" class="date-wrapper-orders">
                    <p class="black-text no-margin-b">01/01/2022</p>
                  </div>
                  <div id="w-node-edffe75a-99d8-3015-9896-0357abbc91b4-1c43bf66" class="item-wrapper-orders">
                    <p class="black-text no-margin-b">Large Bag Snack Box</p>
                    <p class="black-text no-margin-b">x1</p>
                  </div>
                  <div id="w-node-edffe75a-99d8-3015-9896-0357abbc91b9-1c43bf66" class="status-wrapper-orders">
                    <p class="black-text no-margin-b">Shipped</p>
                  </div>
                  <div id="w-node-edffe75a-99d8-3015-9896-0357abbc91bc-1c43bf66" class="price-wrapper-orders">
                    <p class="black-text no-margin-b">$15.00</p>
                  </div>
                  <div id="w-node-edffe75a-99d8-3015-9896-0357abbc91bf-1c43bf66" class="number-wrapper-orders">
                    <p class="black-text no-margin-b">
                      <a href="#" class="bright-blue-black-link">bcc117f</a>
                    </p>
                  </div>
                  <div id="w-node-edffe75a-99d8-3015-9896-0357abbc91c3-1c43bf66" class="date-wrapper-orders">
                    <p class="black-text no-margin-b">01/01/2022</p>
                  </div>
                  <div id="w-node-edffe75a-99d8-3015-9896-0357abbc91c6-1c43bf66" class="item-wrapper-orders">
                    <p class="black-text no-margin-b">Large Bag Snack Box</p>
                    <p class="black-text no-margin-b">x1</p>
                  </div>
                  <div id="w-node-edffe75a-99d8-3015-9896-0357abbc91cb-1c43bf66" class="status-wrapper-orders">
                    <p class="black-text no-margin-b">Shipped</p>
                  </div>
                  <div id="w-node-edffe75a-99d8-3015-9896-0357abbc91ce-1c43bf66" class="price-wrapper-orders">
                    <p class="black-text no-margin-b">$15.00</p>
                  </div>
                  <div id="w-node-edffe75a-99d8-3015-9896-0357abbc91d1-1c43bf66" class="number-wrapper-orders">
                    <p class="black-text no-margin-b">
                      <a href="#" class="bright-blue-black-link">bcc117f</a>
                    </p>
                  </div>
                  <div id="w-node-_7d8d3131-c896-838f-46b7-d685f0493437-1c43bf66" class="date-wrapper-orders">
                    <p class="black-text no-margin-b">01/01/2022</p>
                  </div>
                  <div id="w-node-_0976ef1c-cb32-c01a-30f0-efe7562f4881-1c43bf66" class="item-wrapper-orders">
                    <p class="black-text no-margin-b">Large Bag Snack Box</p>
                    <p class="black-text no-margin-b">x1</p>
                  </div>
                  <div id="w-node-_498e2199-b284-b8a1-7ee3-49fee8d06abe-1c43bf66" class="status-wrapper-orders">
                    <p class="black-text no-margin-b">Shipped</p>
                  </div>
                  <div id="w-node-c7942004-5495-5f9a-4012-59a2bb2de469-1c43bf66" class="price-wrapper-orders">
                    <p class="black-text no-margin-b">$15.00</p>
                  </div>
                  <div id="w-node-f44ec77d-481e-b894-c960-706e8fae6d86-1c43bf66" class="number-wrapper-orders">
                    <p class="black-text no-margin-b">
                      <a href="#" class="bright-blue-black-link">bcc117f</a>
                    </p>
                  </div>
                  <div id="w-node-_1f53e6b0-519c-46c8-9f79-aff02ccabeb6-1c43bf66" class="date-wrapper-orders">
                    <p class="black-text no-margin-b">01/01/2022</p>
                  </div>
                  <div id="w-node-_8629342e-7a50-f525-2a1d-157436505edb-1c43bf66" class="item-wrapper-orders">
                    <p class="black-text no-margin-b">Large Bag Snack Box</p>
                    <p class="black-text no-margin-b">x1</p>
                  </div>
                  <div id="w-node-_3654c75b-0331-20d8-e46b-e89990e66380-1c43bf66" class="status-wrapper-orders">
                    <p class="black-text no-margin-b">Shipped</p>
                  </div>
                  <div id="w-node-_92856457-6b13-e442-234c-61dfddaf8bc2-1c43bf66" class="price-wrapper-orders">
                    <p class="black-text no-margin-b">$15.00</p>
                  </div>
                  <div id="w-node-b98e57ee-058f-510c-c765-2ae1a1c4ed87-1c43bf66" class="number-wrapper-orders">
                    <p class="black-text no-margin-b">
                      <a href="#" class="bright-blue-black-link">bcc117f</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div data-w-tab="Tab 4" class="w-tab-pane"></div>
          </div>
        </div>
      </div>
    </div>
  </div>